  body{

    /*font-family: 'Arial', sans-serif;*/
    font-family: 'times', serif; 

  }

  nav {

    color: gray;
    text-align: center;
  }

  h1 {
    text-align: center;

  }
  h3 {
    font-family: 'Courier New', Courier, Monospace;

  }

  article h3{
    font-family: 'Times', serif;
  }


  hr{
    background-color: black;
    height: 5px;  
    /*padding: 20px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    /*padding-right: 70px;*/
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /*images are inline object - others are block objects*/
  img{
  /*text-align: center; - need to find a different way*/

  }

  /*article{
  text-align: center;
  } */

  div#image-wrap{
    text-align: center;
  }

  nav a {

    color: gray;

  }

  div#box {
    background-color: rgb(0, 255, 0  );
    height: 150px;
    width: 150px;
    padding: 10px;
    margin: 10px;
  }

  /*p{*/
    /*color: red !important;*/
  /*}*/
  
  /* typeless selector */
  afacebook{ 

    color: yellow;
  }     

  /* typed selector */
  a#facebook{ 

    color: #3b5998;
  }
  
  a#twitter{
    color: #55acee;
  }

  a#instagram{
    color: #125688;
  }

  a#linkedin{
    color: #007bb5
  }

  /*h4{*/
    /*text-align: center;*/
    /*background-color: rgba(255, 0, 0, 0.25);*/
  /*}*/