/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  text-align: center;

}

a.button {
  background-color: #f9e42e;
  /*padding: 6px;*/
  border-radius: 10px;
  font-size: 12px;
  padding-bottom: 20px;

a.click {
  background-color: #033048;
  padding: 10px;
  border-radius: 10px;

  }


}

section#section-1{
    background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    padding: 20px;
    color: white;
    text-align: center;
}

h1.logo {     /*Both relaxr logo's will inherit the same style*/
    font-size: 48px;
    text-align: left;
    font-weight: 700;

}

section#section-1 h2{
    font-size: 45px;
    text-align: center;
    margin: 100px;
}

section#section-1 a.button{
    margin: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 24px; 
    /*margin-bottom: 10px; */


}
section#section-2{
    background-color: #f0efef;
    background-size: cover;
    padding: 20px;
    color: white;
    text-align: center;
    padding: 10px;
}

section#section-2 h3{
    color: black;
    font-size: 45px;
    text-align: left;
    padding-bottom: 10px;
    font-weight: 600;

}
 section#section-2 p{
    color: black;
    font-size: 20px;
    text-align: left;
    font-weight: 300;
    border-spacing: 10px;
    padding: 20px;


 }

section#section-2 ul li{
    color: black;
    font-size: 13px;
    text-align: left;
    font-style: 300;
    margin-left: 50px;
    padding: 7px;

/*    list-style-type: circle;
*/    

}

section#section-3 {
    background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    background-color: #033048;
    background-size: cover;
    padding: 50px;
    text-align: center;
    ba
  }

/*section#section-3 blockquote{*/
  /*color:  white;*/
  /*font-size: 18px;*/
  /*font-style: 300italic;*/
  /*padding: 20px;*/

/*}*/

section#section-3 blockquote {
    /*max-width:390px;*/
    color: white;
    font: italic 18px 'OpenSans';
    text-align: center;
    padding: 100px; 
    /*border-left: 3px solid #897860;*/
    /*padding-left: 5px;*/
 /*   margin-left: 40px; */
    margin-left: auto;
    margin-right: auto;

}

section#section-3 span{
  color:  white;
  font-size: 18px;
  font-style: 800;

}

section#section-4{
    background-color: #f9e42e;
    background-size: cover;
    padding: 40px;
    font-size: 12px;
    font-family: "Open-Sans";
    font-weight: bolder;
    color: white;
    text-align: center;
}

section#section-4 a.click{
    background-color: #033048;
    color: white;
    /*margin: 5px;*/
    padding: 10px 30px 10px 30px;
  /*  border-radius: 5px;*/
    display: inline-block;
    /*font-size: 12px;*/
    /*font-weight: 800;*/
    /*font-family: OpenSans;*/
    font-family: 'Open Sans';
    font-size: 24px;
    /*font-style: normal;*/
    /*font-variant: normal;*/
    font-weight: 800;
    /*line-height: 26.4px;*/
    border-radius: 5px;
    text-decoration: none;
}

#

section#section-5{
    background-color: #033048;
  }

 /*section#section-5 h3{*/
   /*text-align: center;*/
   /*color: yellow;*/
   /*font-size: 24px;*/
   /*font-weight: 900;*/
  }
  


  section#section-5 img{
    /*margin: 40px 40px 40px 40px;*/
    border: 1px solid white;
    border-radius: 20px;
    /*height: 30px;*/

  }

  section#section-5 p{
    color: white;
    text-align: center;
    font-size: 10px;
    font-weight: 600;

  }
header {

}

footer {
    background-color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    /*max-height: 300px;*/
    padding-top: 100px;
    width: 100%;

}

  footer h3{  
   text-align: center;
   color: yellow;
   font-size: 34px;
   font-weight: 900;
   padding-bottom: 30px;
   margin-top: 0px;

  }

footer li{
    display: inline-block;
    /*padding: 20px;*/
    width: 60px;
    padding: 15px 0px;
    border: 3px solid white;
    border-radius: 50%;
    transition: all 1s;

}

footer ul li:hover {
  background-color: red;
  transform: scale(1.2) rotate(360deg);
  /*transform:  rotate(360deg);*/


}
footer ul li img{
    height: 20px;

}

footer p{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 25px;
    padding-top: 20px;


  }


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

div#blog header {
  background-color: #033048;
  /*background-size: cover; - only works with images*/
  padding: 10px 0;
  /*width: 90%;*/

 }

 div#blog header div.inner{
  width: 1000px;
  margin: 0 auto;

 }

div#blog header h1{
  color: white;
  display: inline-block;

}

div#blog header nav{
  float: right;
  margin-top: 12px;
}


div#blog header nav ul li{
  display: inline-block;
  color: white;
  margin-right: 10px; 
}

div#blog header nav ul li a{
  display: inline-block;
  color: #f9e42e;
  font-size: 15px;
  text-decoration: none;
  
}

div#blog section#articles{
  border: 2px solid red;
  display: inline-block;
  width: 700px;
  vertical-align: top;
}

div#blog aside{
  border: 2px solid blue;
  display: inline-block;
  width: 280px;
  vertical-align: top;
  height: 1050px;
  padding-top: 15px;


}

div#blog div.content-wrap{
  width: 1200px;
  margin: 0 auto;

}

section#articles h2{
font-size: 30px;
font-weight: bold;
color: black;
padding-top: 15px;


}
div#blog section#articles article div.read-more{
  margin-top: 20px;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;



}

div#blog section#articles article div.read-more a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: gray;

}


div#blog section#articles article em{
  float: left;
  font-size: 80px;
  line-height: 65px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: 600;
}

aside{
  padding: 0 5px 0 5px;
}

aside ul li {
  text-decoration: none;
  color: gray;

}

aside div.read-more a{
  font-weight: bold;
  text-decoration: none;
  color: gray;

}

 aside h3{
  text-align: left;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;


}


aside nav ul li a{
  text-decoration: none;
  color: #6E7377;
  font-size: 15px;

}

aside div.inner-lower h3 {
  margin-top: 25px;
  padding-bottom: 15px;

}

a.click{
    background-color: #033048;
    color: white;
    /*margin: 5px;*/
    padding: 10px 30px 10px 30px;
  /*  border-radius: 5px;*/
    display: inline-block;
    /*font-size: 12px;*/
    /*font-weight: 800;*/
    /*font-family: OpenSans;*/
    font-family: 'Open Sans';
    font-size: 24px;
    /*font-style: normal;*/
    /*font-variant: normal;*/
    font-weight: 800;
    /*line-height: 26.4px;*/
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


div#blog section#signup  {
    background-color: yellow;
    background-size: cover;
    padding-left: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    width: 100%;
    

}

/*div#blog section#signup div.sign-up-now{*/
  /*background-color: #033048;*/
  /*border-radius: 5px;*/
  /*font-size: 12px;*/

}
